<!-- <head>
    <link
      href=""
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
</head> -->
<nav class="nav-bar">
    <div class="title">
        <a href="#" class="logo">AR</a>
    </div>

    <ul class="menu">
        <li>
            <a href="#product" class="active">Product</a>
        </li>

        <li>
            <a href="#template">Template</a>
        </li>

        <li>
            <a href="#blog">Blog</a>
        </li>

        <li>
            <a href="#pricing">Pricing</a>
        </li>
    </ul>
    <ul class="login">
        <li>
            <a href="#signin" class="signin">Signin</a>
        </li>

        <li>
            <a href="#contact" class="btn">Start Free</a>
        </li>
    </ul>
</nav>
<div class="hero-container">
    <div class="left">
        <h1 class="sub">Managing freelance payment <br>has never been easier</h1>
        <!-- <p>has never been easier</p> -->
        <p> End-to-end payment and financial management <br>in a single solution. Meet the right platform to </p>
        <div class="button">
            <button class="get-started">Get Started</button>
            <button class="req-demo">request demo</button>
        </div>
    </div>
</div>

<div class="brands-section">
    <h2>Over 32k+ software businesses growing</h2>

    <div class="brands-container">
        <img src="assets/openzep.png" alt="">
        <img src="assets/oracel.png" alt="">
        <img src="assets/morph.png" alt="">
        <img src="assets/samsung.png" alt="">
        <img src="assets/monday.png" alt="">
        <img src="assets/segmen.png" alt="">
        <img src="assets/proto.png" alt="">
        
    </div>
</div>

<div class="payment">
    <h3 class="ar-brand">WHY AR SHAKIR</h3>
    <h1 class="payment-title">Specially designed for <br>payments</h1>
</div>
  <section class="p-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md-4">
          <div class="card text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <!-- <i class="bi bi-people"></i> -->
                <img src="../../assets/icon.png" alt="" class="file">
              </div>
              <h3 class="card-title mb-4">Modern Cards</h3>
              <p class="card-text">
                End-to-end payment and financial management in a single solution. Meet the right platform
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card  text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <!-- <i class="bi bi-people"></i> -->
                <img src="../../assets/icon.png" alt="" class="file">
              </div>
              <h3 class="card-title mb-4">No Extra Fees</h3>
              <p class="card-text">
                End-to-end payment and financial management in a single solution. Meet the right platform
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card  text-dark">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <!-- <i class="bi bi-people"></i> -->
                <img src="../../assets/icon.png" alt="" class="file">
              </div>
              <h3 class="card-title mb-4">Super Secure</h3>
              <p class="card-text">
                End-to-end payment and financial management in a single solution. Meet the right platform
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="learn" class="p-5">
    <div class="portfolio-container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="assets/quick-transfer.png" class="img-fluid" alt="" />
        </div>
        <div class="col-md p-5">
          <!-- <h3>Why Choose Us</h3> -->
          <h3 class="choose-us">WHY CHOOSE US</h3>
          <h1 class="title">
            Track your crytpo portfolio on the best way possible
          </h1>
          <p class="para">
            End-to-end payments and financial management in a single solution. Meet the right platform to help realize.
          </p>
          <!-- <span class="checked-icon"> -->
            <img src="../../assets/checked.png" alt="" class="checked">
            <p class="portfolio-title">Get Overview at a</p>
          <!-- </span> -->
          <!-- <span class="checked-icon"> -->
            <img src="../../assets/checked.png" alt="" class="checked">
            <p class="portfolio-title">Deposit Funds Easily</p>
          <!-- </span> -->
          <!-- <span class="checked-icon"> -->
            <img src="../../assets/checked.png" alt="" class="checked">
            <p class="portfolio-title">Get Live</p>
          <!-- </span> -->
        </div>
      </div>
    </div>
</section>

  <section id="learn" class="p-5 text-dark">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md p-5">
          <h3 class="choose-us">WHY CHOOSE US</h3>
          <h1 class="title">Specialist Aiding Clients On Financial Challenges</h1>
          <p class="lead">
            End-to-end payment and financial management in a single solution. Meet the right platform
          </p>
          <img src="../../assets/circle.png" alt="" class="list-icon">
          <span class="sub-title">First Working</span>
          <p class="sub-para">
            End-to-end payment and financial management in a single solution. Meet the right platform
          </p>
          <img src="../../assets/circle.png" alt="" class="list-icon">
          <span class="sub-title">Dedicated</span>
          <p class="sub-para">
            End-to-end payment and financial management in a single solution. Meet the right platform
          </p>
          <img src="../../assets/circle.png" alt="" class="list-icon">
          <span class="sub-title">24/7 Hours</span>
          <p class="sub-para">
            End-to-end payment and financial management in a single solution. Meet the right platform
          </p>
        </div>
        <div class="col-md">
          <img src="../../assets/client.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section id="learn" class="p-5 text-dark">
    <div class="container">
      <div class="row align-items-center">
        <div class="p-5">
          <h1 class="title">Features That Blows</h1>
          <p class="lead2">
            End-to-end payment and financial management in a <br>single solution. Meet the right platform to help
          </p>
        </div>
          <div class="col-md-4 boxing">
            <div class="card  text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <!-- <i class="bi bi-people"></i> -->
                  <img src="../../assets/file.png" alt="" class="file">
                </div>
                <h3 class="card-title mb-3">Connect Wallet & Exchange</h3>
                <p class="card-text">
                  End-to-end payment and financial management in a single solution. Meet the right platform
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 boxing">
            <div class="card  text-dark">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <!-- <i class="bi bi-people"></i> -->
                  <img src="../../assets/file.png" alt="" class="file">
                </div>
                <h3 class="card-title mb-3">Connect Wallet & Exchange</h3>
                <p class="card-text">
                  End-to-end payment and financial management in a single solution. Meet the right platform
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 boxing">
            <div class="small-card  text-dark">
              <div class="card-body text-center">
                <h3 class="card-title mb-3">Save Money Year- round</h3>
              </div>
            </div>
            <div class="small-card  text-dark">
              <div class="card-body text-center">
                <h3 class="card-title mb-3">100+ Apps Powerful integrations</h3>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-3 boxing">
            <div class="card  text-dark">
              <div class="card-body text-center">
                <h3 class="card-title mb-3">100+ Apps PowerFul integration</h3>
              </div>
            </div>
          </div> -->
      </div>
    </div>
  </section>
