<nav class="nav-bar">
    <div class="title">
        <a href="#" class="logo">AR</a>
    </div>

    <ul class="menu">
        <li>
            <a href="#product" class="active">Product</a>
        </li>

        <li>
            <a href="#template">Template</a>
        </li>

        <li>
            <a href="#blog">Blog</a>
        </li>

        <li>
            <a href="#pricing">Pricing</a>
        </li>
    </ul>
    <ul class="login">
        <li>
            <a href="#signin" class="signin">Signin</a>
        </li>

        <li>
            <a href="#contact" class="btn">Start Free</a>
        </li>
    </ul>
</nav>
<div class="hero-container">
    <div class="left">
        <h1 class="sub">Managing freelance payment <br>has never been easier</h1>
        <!-- <p>has never been easier</p> -->
        <p> End-to-end payment and financial management <br>in a single solution. Meet the right platform to </p>
        <div class="button">
            <button class="get-started">Get Started</button>
            <button class="req-demo">request demo</button>
        </div>
    </div>
</div>
<!-- <div class="business">
    <h2>Over 32k+ software business growing</h2>
</div> -->